@import url(./root.css);

.registerForm {
    width: 400px;
}

.formGroup {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 400px;

    div {
        margin-bottom: 15px;
    }

    .formItems {
        width: 400px;
    }
}