@import url(./root.css);

.threadCreationBox {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    gap: 25px;
    border-right: 1px solid var(--mainColor);
    border-left: 1px solid var(--mainColor);

    h1 {
        text-align: center !important;
    }

    .createButtonBox {
        text-align: center !important;
    }

    .creationFormItem {
        margin-bottom: 15px;

        select {
            height: 150px;
            padding: 15px;
        }

        .createbutton {
            background-color: var(--secondaryColor);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px, rgba(0, 0, 0, 0.22) 0px 6px 12px;
            color: var(--tertiaryColor) !important;
            border: none;
            border-radius: 15px;
            transition-duration: 0.3s;
            width: 150px;
            padding: 10px 30px;
        }
    
        .createbutton:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transform: translateY(5px);
            transition-duration: 0.3s;
            background-color: var(--tertiaryColor);
            color: var(--secondaryColor) !important;
        }
    }
}