@import url(./root.css);


.threadTitle {
        color: var(--black) !important;
}

.threadContainer {
        border-right: 1px solid var(--mainColor);
        border-left: 1px solid var(--mainColor);
        padding: 80px 25px 85px 25px;
        height: 1000px !important;
        overflow: auto;
}

.cardText {
        color: var(--black) !important;
}

.responseMainText {
        color: var(--black) !important;
}